* {
  margin: 0;
  padding: 0;
}

img {
  width: 1400px;
  height: auto;
}

form {
  background-color: rgb(19, 18, 18);
  text-align: center;
  border-radius: 5px;
  padding: 70px;
  margin: 100px;
  position: absolute;
  top: 10px;
  left: 300px;
}

h1 {
  background-color: rgb(121, 48, 121);
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}

label {
  color: rgb(121, 48, 121);
  font-weight: bold;
}

input {
  padding: 7px;
  border-radius: 5px;
}

footer {
  color: #000;
  position: absolute;
  bottom: 50px;
  left: 450px;
  font-weight: bolder;
  font-size: 20px;
}

footer a {
  color: #fff;
  font-weight: 700px;
  text-decoration: none;
}

footer span {
  font-size: 17px;
}

footer strong {
  font-weight: 900px;
  color: #fff;
}

#button {
  background-color: rgb(121, 48, 121);
  color: #fff;
}
